<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
        name="google-site-verification"
        content="Cr_uKwa8OX6jxV3MhAAxFWWrYvjMY2BAkKkm45KV9Ho"
    />
    <meta charset="UTF-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link
        rel="stylesheet"
        href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Recursive&display=swap"
        rel="stylesheet"
    />
</head>
