<!doctype html>
<html lang="fa">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        <title>{{ page.title }}</title>
        <link
            rel="stylesheet"
            href="{{ '/assets/css/style.css' | relative_url }}"
        />
    </head>
    <body>
        <div class="page-wrapper">
            {% if page.url == "/" %} {% include sidebar.html %} {% endif %}

            <div class="container">
                {% include header.html %}
                <div style="padding: 0 20px 0 20px">{{ content }}</div>
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
